VFXContextDrawer {
	flex-direction: column;
}

VFXContextDrawer #title {
	background-color: #404040;
    text-color: #FFFFFF;
	width: 200;
	text-alignment: middle-center;
}
VFXContextDrawer #container {
	height: 50;
	background-color: #202020;
}
